# محیط مجازی
venv/
env/
ENV/
.venv
.env

# دیتابیس
db.sqlite3
*.sqlite3

# فایل‌های بایت‌کامپایل و کش
__pycache__/
*.py[cod]
*$py.class

# فایل‌های محیطی و تنظیمات حساس
.env
.env.local
*.key
*.pem

# فایل‌های مدیا و استاتیک تولید شده
media/
static_files/
collected_static/

# فایل‌های سیستمی
.DS_Store
Thumbs.db__pycache__/
