<header class="panel-header">
    <div class="header-right">
        <button class="menu-toggle" id="menuToggle" aria-label="منو">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="page-title-wrap">
            <h1 class="page-title" id="pageTitle">داشبورد</h1>
        </div>
    </div>
    <div class="header-left">
        <div class="header-datetime">
            <div class="datetime-date" id="jalaliDate"></div>
            <div class="datetime-time" id="liveTime">--:--</div>
        </div>
        
        <!-- دکمه Theme Toggle (مهم) -->
        <button class="theme-toggle" id="themeToggle" aria-label="تغییر تم" title="تغییر تم روشن/تیره">
            <i class="fa-solid fa-sun"></i>
            <i class="fa-solid fa-moon"></i>
        </button>
        
        <a href="/" target="_blank" class="header-icon-btn" title="مشاهده سایت">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
        
        <div class="user-menu" id="userMenu">
            <button class="user-btn">
                <div class="user-avatar"><i class="fa-solid fa-user"></i></div>
                <div class="user-info">
                    <strong>{{ request.user.username }}</strong>
                    <small>مدیر سیستم</small>
                </div>
                <i class="fa-solid fa-chevron-down user-chevron"></i>
            </button>
            <div class="user-dropdown">
                <a href="{% url 'panel:logout' %}" class="dropdown-item logout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    خروج از حساب
                </a>
            </div>
        </div>
    </div>
</header>